
@font-face {
  font-family: 'UkraineFont';
  src: url('/fonts/e-Ukraine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UkraineFont';
  src: url('/fonts/e-Ukraine-Bold.ttf') format('truetype');
  font-weight: normal;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UkraineFont';
  src: url('/fonts/e-Ukraine-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'UkraineFont';
  src: url('/fonts/e-Ukraine-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-weight-semibold: 100;
  --ifm-link-hover-color: #00c271;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-link-hover-color: #00c271;
}

/*
TODO switch the icons to react-icons package.
workaround for using custom components in the navbar: https://github.com/facebook/docusaurus/issues/7227
*/
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

.header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-discord-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF'%3E%3Cpath d='M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .header-github-link:before  {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* Styles COPIED From Cadence-lang.org next.js site */

:root {
  --h1-size: min(3.4rem, max(8vw, 2.5rem));
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: 'UkraineFont', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

}

/* Hover state of the anchor tag */
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

code {
  font-family: ui-monospace,
    Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New",
    monospace !important;
}

.content-wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
}

.main-wrapper {
  max-width: 80rem;
  min-width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);  
}

.navbar__inner {
  max-width: 80rem;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
}

.navbar__title {
  font-size: 1.8rem;
}

.navbar__brand {
  padding-left: 1.5rem;
}

.navbar__brand:hover,
.navbar__link:hover {
  color: var(--ifm-navbar-link-color);
  text-decoration: none;
}

/* style conflict with docusaurus */
.navbar {
  display: unset;
  height: unset;
  padding: unset;
}

nav {
  top: 0;
  z-index: 1;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.11) 0px 1px 1px 0px;
}

[data-theme='dark'] nav {
  top: 0;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(255, 255, 255, 0.04) 0px 2px 4px 0px, /* Slight white shadow for a subtle glow effect */
    rgba(255, 255, 255, 0.08) 0px 1px 1px 0px; /* Slight white shadow for a subtle glow effect */
}

nav::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

nav > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

nav .logo {
  margin-right: auto;
  padding: .75rem;

  font-size: 1.8rem;
  font-weight: 500;

  user-select: none;
}

nav a {
  display: inline-block;
  padding: .75rem;

  font-weight: 300;
}

nav a.active {
  font-weight: 500;
}

nav a svg {
  font-size: 1.4rem;
}

h1 {
  display: inline-flex;
  margin-left: -.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;

  font-size: var(--h1-size);
  font-weight: 600;
  line-height: 1.1;

  background-clip: text;
  background-image: linear-gradient(110deg, #00D87E, #00EF8B);
  -webkit-text-fill-color: transparent;
}

h2 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

  font-size: calc(var(--h1-size) * 0.56);
  font-weight: 300;
  line-height: 1.4;
}

h2 strong {
  font-weight: 600;
}

.code {
  border-radius: 1rem;
  font-size: 0.9rem !important;
  box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.4);
}

h3 {
  display: inline-flex;
  margin: 1.4rem 0 0 0;
  align-items: center;
  gap: .3rem;

  font-size: 1.8rem;
  font-weight: 500;
}

h3 svg {
  margin-left: -0.2rem;
}

p {
  margin: 1rem 0;
}


main {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

main ul {
  list-style: disc outside;
}

main li {
  margin-left: 1.8rem;
}

main a {
  color: #00c271;
}

.icon {
  display: inline-block;
  margin-top: 0.8rem;

  font-size: 1.8rem;

  user-select: none;
}

.videos {
  margin: 2rem 0;
  padding: 2rem;
  background-color: hsl(154.8, 99.2%, 47.1%);
}

.videoSet {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
}

.videos iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 80%;
}

.features {
  margin-top: 3rem;
  padding: 2rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding: 2rem 0;
}

.feature + .feature {
  margin-top: 2rem;
}

.features .feature {
  box-shadow: 0 1px 2px rgba(0,0,0,.2),0 3px 8px rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 1.6rem 2.6rem;
}

/* Styling one class specially in dark mode */
[data-theme='dark'] .features .feature {
  box-shadow: 0 1px 2px rgba(248, 246, 246, 0.2),0 3px 8px rgba(252, 251, 251, 0.1);
}

.feature a {
  font-weight: 800;
}


.cta {
  display: inline-flex;
  margin: 2.6rem 0;
  padding: .75rem 1.5rem;
  gap: .5rem;
  align-items: center;

  text-decoration: none;
  font-weight: 400;
  font-size: 1.1rem;

  color: #fff;
  text-shadow: 0 1px 1px #00387838;

  background: linear-gradient(180deg, #00EF8B, #00c271);
  border-radius: 9999px;
  box-shadow: 0 1px 2px #00295738;

  transition: all .2s ease;

  user-select: none;
}

.cta:hover {
  gap: 1rem;
  box-shadow: 0 5px 30px -10px #2BE82C;
  filter: brightness(1.05);
  color: #fff;
}

footer {
  font-weight: 100;
  color: rgba(130, 133, 138, 0.6);
  border-top: 1px solid #e5e7eb;
}

.license {
  max-width: 52rem;
}

.arrow {
  margin-bottom: -4.4rem;

  text-align: center;
  font-size: 2.8rem;
  color: #c5c5c5;
}

@media screen and (min-width: 64em) {
  nav {
    position: sticky;
  }

  nav > div {
    flex-direction: row;
    height: 4.2rem;
    align-items: center;
  }

  nav .logo {
    padding: 0 !important;
  }

  .feature {
    gap: 6rem;
    flex-direction: row;
    align-items: center;
  }

  .feature.alternate {
    flex-direction: row-reverse;
  }

  .feature > div {
    flex: 1 1 auto;
  }

  .videoSet {
    gap: 6rem;
    flex-direction: row;
    align-items: center;
  }

  .videoSet > div {
    flex: 1 1 auto;
  }
}
