:root {
  --h1-size: min(3.4rem, max(8vw, 2.5rem));
}

html,
body {
  padding: 0;
  margin: 0;
  color: rgb(38, 40, 39);
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

code {
  font-family: ui-monospace,
    Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New",
    monospace !important;
}

.content-wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
}

nav {
  top: 0;
  z-index: 1;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.11) 0px 1px 1px 0px;
}

nav::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, .85);
}

nav > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

nav .logo {
  margin-right: auto;
  padding: .75rem;

  font-size: 1.8rem;
  font-weight: 500;

  user-select: none;
}

nav a {
  display: inline-block;
  padding: .75rem;

  font-size: 1rem;
  font-weight: 500;
}

nav a svg {
  font-size: 1.4rem;
}

h1 {
  display: inline-flex;
  margin-left: -.2rem;

  font-size: var(--h1-size);
  font-weight: 600;
  line-height: 1.1;

  background-clip: text;
  background-image: linear-gradient(110deg, #00D87E, #00EF8B);
  -webkit-text-fill-color: transparent;
}

h2 {
  margin-top: 2rem;

  font-size: calc(var(--h1-size) * 0.56);
  font-weight: 300;
  line-height: 1.4;
}

h2 strong {
  font-weight: 600;
}

.code {
  border-radius: 1rem;
  font-size: 0.9rem !important;
  box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.4);
}

h3 {
  display: inline-flex;
  margin: 1.4rem 0 0 0;
  align-items: center;
  gap: .3rem;

  font-size: 1.8rem;
  font-weight: 500;
}

h3 svg {
  margin-left: -0.2rem;
}

p {
  margin: 1rem 0;

  font-weight: 200;
  font-size: 1rem;
  line-height: 1.75rem;

  color: rgba(38, 40, 39, 0.84);
}

p a {
  color: #00c271;
}

.feature a {
  font-weight: 500;
}

.videos {
  padding: 2rem;
  background-color: hsl(154.8, 99.2%, 47.1%);
}

.videoSet {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
}

.videos iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 80%;
}
.features {
  background-color: #F7F7F5;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.cta {
  display: inline-flex;
  margin: 2.6rem 0;
  padding: .75rem 1.5rem;
  gap: .5rem;
  align-items: center;

  text-decoration: none;
  font-weight: 400;
  font-size: 1.1rem;

  color: #fff;
  text-shadow: 0 1px 1px #00387838;

  background: linear-gradient(180deg, #00EF8B, #00c271);
  border-radius: 9999px;
  box-shadow: 0 1px 2px #00295738;

  transition: all .2s ease;

  user-select: none;
}

.cta:hover {
  gap: 1rem;

  box-shadow: 0 5px 30px -10px #2BE82C;

  filter: brightness(1.05);
}

footer {
  padding: 2rem 0;

  font-weight: 100;

  color: rgb(130, 133, 138);

  background-color: #F7F7F5;
  border-top: 1px solid #e5e7eb;
}

.license {
  max-width: 50rem;
}

@media screen and (min-width: 64em) {
  nav {
    position: sticky;
  }

  nav > div {
    flex-direction: row;
    height: 4.2rem;
    align-items: center;
  }

  nav .logo {
    padding: 0 !important;
  }

  .feature {
    gap: 6rem;
    flex-direction: row;
    align-items: center;
    padding: 3rem 0;
  }

  .feature.alternate {
    flex-direction: row-reverse;
  }

  .feature > div {
    flex: 1 1 auto;
  }

  .videoSet {
    gap: 6rem;
    flex-direction: row;
    align-items: center;
  }

  .videoSet > div {
    flex: 1 1 auto;
  }
}
